<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ishan.trivia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ishan.trivia.SplashScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ishan.trivia.HistoryActivity" />
        <activity android:name="com.ishan.trivia.SummaryActivity" />
        <activity android:name="com.ishan.trivia.QuestionActivity" />
        <activity android:name="com.ishan.trivia.EnterName">

        </activity>
        <activity android:name="com.ishan.trivia.MainActivity" />
    </application>

</manifest>